<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="lider-ahenk-installer"
         point="org.eclipse.core.runtime.products">
      <product
            name="lider-ahenk-installer"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/lider.ahenk.installer.application/css/default.css">
         </property>
         <property
               name="appName"
               value="lider-ahenk-installer">
         </property>
         <property
               name="windowImages"
               value="icons/LiderConsole_16.png">
         </property>
      </product>
   </extension>
</plugin>
